<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Listado de aeropuertos')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <h1 th:text="${msg.aeropuerto.title}"></h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Muestra la lista de aeropuertos en una tabla -->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Pais</th>
            <th>codIata</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aeropuerto : ${listAeropuertos}">
            <td th:text="${aeropuerto.id}"></td>
            <td th:text="${aeropuerto.nombre}"></td>
            <td th:text="${aeropuerto.ciudad}"></td>
            <td th:text="${aeropuerto.pais}"></td>
            <td th:text="${aeropuerto.codIata}"></td>
            <td>
                <!-- Botón para editar -->

                <a th:href="@{/aeropuertos/edit(id=${aeropuerto.id})}" class="btn btn-primary btn-sm">Edit</a>

                <!-- Botón para eliminar -->

                <form th:action="@{/aeropuertos/delete}" method="post" class="d-inline">

                    <input type="hidden" name="id" th:value="${aeropuerto.id}"/>
                    <button type="submit" class="btn btn-danger btn-sm"
                            th:onclick="|return confirm(${aeropuerto.eliminar});|">
                        Delete
                    </button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

    <!-- Botón para añadir una nueva región -->
    <a th:href="@{/aeropuertos/new}" class="btn btn-success mt-3">${aeropuerto.add}</a>

    <!-- Volver a la página principal -->
    <a href="#" th:href="@{/}" class="btn btn-secondary mt-3">${aeropuerto.back}</a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>