<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Insertar/Actualizar Aeropuerto')"></head>
<style>
    /* Margen superior personalizado */
    .mt-10 {
        margin-top: 4.5rem; /* Ajusta el valor si quieres más o menos */
    }
</style>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-10">
    <h1 th:text="${aeropuerto.id} == null ? #{msg.aeropuerto.anadir} : #{msg.aeropuerto.editar}"></h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Mostrar un mensaje de error si existe -->
    <div th:if="${errorMessage}" class="alert alert-danger"
         th:text="${errorMessage}"></div>

    <form th:action="${aeropuerto.id} == null ? @{/aeropuertos/insert} : @{/aeropuertos/update}"
          th:object="${aeropuerto}" method="post" class="mt-4">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="nombre" class="form-label" th:text="#{msg.aeropuerto.name}"></label>
            <input type="text" th:field="*{nombre}" id="nombre" class="form-control" />
            <div th:if="${#fields.hasErrors('nombre')}" class="text-danger"
                 th:errors="*{nombre}"></div>
        </div>
        <div class="mb-3">
            <label for="ciudad" class="form-label" th:text="#{msg.aeropuerto.ciudad}"></label>
            <input type="text" th:field="*{ciudad}" id="ciudad" class="form-control" />
            <div th:if="${#fields.hasErrors('ciudad')}" class="text-danger"
                 th:errors="*{ciudad}"></div>
        </div>

        <div class="mb-3">
            <label for="pais" class="form-label" th:text="#{msg.aeropuerto.pais}"></label>
            <input type="text" th:field="*{pais}" id="pais" class="form-control" />
            <div th:if="${#fields.hasErrors('pais')}" class="text-danger"
                 th:errors="*{pais}"></div>
        </div>

        <div class="mb-3">
            <label for="codIata" class="form-label" th:text="#{msg.aeropuerto.codIata}"></label>
            <input type="text" th:field="*{codIata}" id="codIata" class="form-control" />
            <div th:if="${#fields.hasErrors('codIata')}" class="text-danger"
                 th:errors="*{codIata}"></div>
        </div>

        <!-- Selección de Región -->
        <div class="mb-3">
            <label for="director" class="form-label" th:text="#{msg.aeropuerto.director}"></label>
            <select th:field="*{director}" id="director" class="form-select">
                <option th:each="dir : ${directores}"
                        th:value="${dir.id}"
                        th:text="${dir.nombre} + ' ' + ${dir.apellidos}"
                        th:selected="${aeropuerto.director != null} ? ${dir.id} == ${aeropuerto.director.id} : false">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('director')}" class="text-danger"
                 th:errors="*{director}"></div>
        </div>


        <button type="submit" class="btn btn-primary" th:text="${aeropuerto.id} == null ? #{msg.aeropuerto.crear} : #{msg.aeropuerto.actualizar}"></button>
    </form>

    <!-- Volver a la lista de aeropuertos -->
    <a href="#" th:href="@{/aeropuertos}" class="btn btn-secondary mt-3" th:text="#{msg.aeropuerto.back}"></a>
</main>

<!-- Incluir el fragmento del footer -->


</body>
</html>
